/Algae.class
/Craig.class
/Critter$CritterShape.class
/Critter$TestCritter.class
/Critter.class
/InvalidCritterException.class
/Main.class
/Params.class
/crittermap.class
/WorldMap.class
/Main$1.class
/Main$2.class
/Main$3.class
/Main$4.class
/Triangle.class
/Star.class
/Diamond.class
/Diamond$1.class
/Diamond$2.class
/Star$1.class
/Star$2.class
/Triangle$1.class
/Triangle$2.class
/Main$5.class
/Main$6.class
/Main$7.class
/Main$8.class
/Critter5.class
/Critter2.class
/Main$5$1.class
/Main$9.class
